@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }

  @return unquote($value);
}
$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

.home-container {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  .stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
    }
  }

  .stars-second {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }

  .stars-third {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
    }
  }

  .home-title-container {
    color: #FFF;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

    .home-input-container {
      width: 50%;
      .home-input {
        border-radius: 50px;
        padding: 8px 40px;
        color: #1B2735;
        width: 100%;
        outline: none;
        margin-top: 30px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        transition: 0.3s all ease-in-out;
      }

      .home-input:focus {
        box-shadow: rgb(0, 0, 0) 0 20px 30px -10px;
        transition: 0.3s all ease-in-out;
      }

      .search-icon {
        position: absolute;
        top: 44vh;
        right: 27vw;
      }
    }
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
};

.btn-custom {
  padding: 10px 50px;
  margin: 50px 5px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(213deg, rgba(226,150,156,1) 2%, rgba(232,80,91,1) 100%);
  color: #FFFFFF;
  font-size: 20px;
  transition: 0.3s all ease-in-out;
}

.btn-custom:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(-10%);
}