.repos-container {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  height: 100vh;
  padding: 40px;
  .container {
    animation: fadeIn 1s;
    opacity: 1;
    display: flex;
    .user-infos-container {
      background-color: #FFFFFF;
      border-radius: 20px;
      padding: 20px;
      height: 90vh;

      .user-avatar-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .user-avatar {
          border-radius: 50%;
          max-height: 300px;
        }
      }

      .user-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

        .user-name {
          font-size: 27px;
          font-weight: bold;
          text-align: center;
        }

        .user-login {
          font-size: 20px;
          opacity: 0.7;
          text-align: center;
        }

        .user-bio {
          font-size: 20px;
          margin-top: 25px;
          text-align: center;
        }

        .user-followers-container {
          display: flex;
          margin-top: 15px;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: flex-start;

          .user-followers {

          }

          .icon-followers {
          }
        }

        .users-links-container {
          display: contents;
          margin-top: 30px;

          .user-email {
            margin-top: 30px;
          }

          .user-website, .user-email {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            margin-top: 10px;
          }
        }
      }
    }

    .user-repos-container {
      height: 90vh;
      background-color: #FFFFFF;
      border-radius: 20px;
      padding: 20px 50px;

      .user-repos-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text-container {
          display: flex;
          flex-direction: column;

          .text {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 5px;
          }
        }
      }

      .search-input-container {
        .search-input {
          border-radius: 10px;
          padding: 8px 40px;
          color: #1B2735;
          width: 100%;
          outline: none;
          border: 1px solid rgba(18, 24, 33, 0.5);
          transition: 0.3s all ease-in-out;
        }

        .search-input:focus {
          box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
          transition: 0.3s all ease-in-out;
        }
      }

      .repositories-container {
        overflow-y: scroll;
        height: 80%;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .repos-container {
    padding: 20px;
    height: auto;
    .container {
      display: block;

      .user-infos-container {
        height: auto;
        margin-bottom: 20px;

        .user-avatar-container {
          .user-avatar {
            max-height: 100px;
          }
        }

        .user-infos {
          font-size: 16px;

          .user-name {
            font-size: 18px;
          }

          .user-login {
            font-size: 16px;
          }

          .user-bio {
            font-size: 16px;
          }
        }
      }

      .user-repos-container {
        padding: 20px 30px;
        .user-repos-header {
          .text-container {
            .text {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}