.repo-card {
  padding: 10px;

  .repo-name {
    color: #e85c66 !important;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
  }

  .repo-name:hover {
    color: #090A0F  !important;
  }

  .repo-description {
    opacity: 0.8;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .repo-card-footer {
    display: flex;
    font-size: 13px;
    opacity: 0.7;
    .repo-language, .repo-forks, .repo-licence, .repo-updated-on {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .repo-card {
    .repo-name {
      font-size: 18px;
    }

    .repo-card-footer {
      flex-wrap: wrap;
    }
  }
}