@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none !important;
  color: #090A0F !important;
  transition: 0.3s all ease-in-out;
}

a:hover {
  color: #E85C66 !important;
  transition: 0.3s all ease-in-out;
}

.underline-decoration  {
  width: 80px;
  height: 7px;
  border-radius: 30px;
  background-color: #E85C66;
}